In [5]:
import pandas as pd

In [6]:
# Import CSV file - replace 'filename.csv' with your actual CSV file name
df = pd.read_csv(r"..\acts_and_miracles\references\rouse_metav_data\data\CSV\People.csv")

In [17]:
list(df.columns)

['personLookup',
 'status',
 'personID',
 'displayTitle',
 'name',
 'surname',
 'alsoCalled',
 'isProperName',
 'ambiguous',
 'Disambiguation (temp)',
 'gender',
 'occupations',
 'birthYear',
 'minYear',
 'deathYear',
 'maxYear',
 'birthPlace',
 'deathPlace',
 'memberOf',
 'eastons',
 'dictText',
 'events',
 'eventGroups',
 'verseCount',
 'verses',
 'mother',
 'father',
 'partners',
 'children',
 'siblings',
 'halfSiblingsSameMother',
 'halfSiblingsSameFather',
 'chaptersWritten',
 'alphaGroup',
 'slug',
 'modified']

In [8]:
print("Header - First 5 rows:")
df.head()

# Print header (first 5 rows)

Header - First 5 rows:

,personLookup,status,personID,displayTitle,name,surname,alsoCalled,isProperName,ambiguous,Disambiguation (temp),...,father,partners,children,siblings,halfSiblingsSameMother,halfSiblingsSameFather,chaptersWritten,alphaGroup,slug,modified
0,aaron_1,publish,1,Aaron,Aaron,NaN,NaN,checked,NaN,NaN,...,amram_242,elisheba_1162,"abihu_33,eleazar_1062,nadab_2128,ithamar_649","miriam_2087,moses_2108",NaN,NaN,NaN,A,aaron_1,2020-09-07 19:30
1,abagtha_3,wip,3,Abagtha,Abagtha,NaN,NaN,checked,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,abagtha_3,2019-07-27 11:49
2,abda_4,wip,4,Abda,Abda,NaN,NaN,checked,NaN,NaN,...,NaN,NaN,adoniram_102,NaN,NaN,NaN,NaN,A,abda_4,2019-07-27 11:49
3,abdeel_5,wip,5,Abdeel,Abdeel,NaN,NaN,checked,NaN,NaN,...,NaN,NaN,shelemiah_2599,NaN,NaN,NaN,NaN,A,abdeel_5,2019-07-27 11:49
4,abdi_6,wip,6,Abdi,Abdi,NaN,NaN,checked,checked,"Abdi - A Levite, father of Kishi and grandfath...",...,malluch_1918,NaN,kishi_1788,NaN,NaN,NaN,NaN,A,abdi_6,2019-07-27 11:49

In [10]:
print("\n" + "="*50 + "\n")

# Print footer (last 5 rows)
print("Footer - Last 5 rows:")
df.tail()

==================================================

Footer - Last 5 rows:

,personLookup,status,personID,displayTitle,name,surname,alsoCalled,isProperName,ambiguous,Disambiguation (temp),...,father,partners,children,siblings,halfSiblingsSameMother,halfSiblingsSameFather,chaptersWritten,alphaGroup,slug,modified
3064,zur_3109,wip,3109,Zur,Zur,NaN,NaN,checked,checked,Zur (A prince of Midian),...,NaN,NaN,cozbi_959,NaN,NaN,NaN,NaN,Z,zur_3109,2019-07-27 11:49
3065,zur_3110,wip,3110,Zur,Zur,NaN,NaN,checked,checked,Zur was one of the Midianite Chiefs defeated b...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Z,zur_3110,2019-07-27 11:49
3066,zur_3111,wip,3111,Zur,Zur,NaN,NaN,checked,checked,Zur (Chief of Midian),...,abiel_23,NaN,NaN,"abdon_12,ahio_156,baal_575,gedor_1292,kish_178...",NaN,NaN,NaN,Z,zur_3111,2019-07-27 11:49
3067,zuriel_3112,wip,3112,Zuriel,Zuriel,NaN,NaN,checked,NaN,NaN,...,abihail_28,NaN,NaN,NaN,NaN,NaN,NaN,Z,zuriel_3112,2019-07-27 11:49
3068,zurishaddai_3113,wip,3113,Zurishaddai,Zurishaddai,NaN,NaN,checked,NaN,NaN,...,NaN,NaN,shelumiel_2612,NaN,NaN,NaN,NaN,Z,zurishaddai_3113,2019-07-27 11:49

In [26]:
df.dictText

0       The eldest son of Amram and Jochebed, a daught...
1       One of the seven eunuchs in Ahasuerusâ€™s court ...
2       The father of Adoniram, whom Solomon set over ...
3       Servant of God, ([Jer. 36:26](/jer#Jer.36.26))...
4                         [1 Chr. 6:44](/1chr#1Chr.6.44).
                              ...
3064                                                  NaN
3065    One of the five Midianite kings whom the Israe...
3066        A Benjamite ([1 Chr. 8:30](/1chr#1Chr.8.30)).
3067    Rock of God, chief of the family of the Merari...
3068    Rock of the Almighty, the father of Shelumiel,...
Name: dictText, Length: 3069, dtype: object

In [37]:
x=dfa

In [38]:
x.dictText

996    (A.S. and Dutch God; Dan. Gud; Ger. Gott), the...
Name: dictText, dtype: object

In [39]:
df.to_csv(r".\PeoplePy.csv")