In [1]:
import pandas as pd
import numpy as np

acts_miracles_df = pd.read_excel(
        r'..\acts_and_miracles\acts_and_miracles_preprep.xlsx', 
        sheet_name='acts_and_miracles',
        usecols=[0, 2, 17],  # Columns A, C, Q
        header=0
    )

In [2]:
acts_miracles_df = pd.read_excel(
        r'..\acts_and_miracles\acts_and_miracles_preprep.xlsx', 
        sheet_name='acts_and_miracles',
        usecols=['EventID', 'Category', 'book_number'],  # Columns A, C, Q
        header=0
    )

In [3]:
    # Rename columns for clarity
    acts_miracles_df.columns = ['EventID', 'Category', 'BookNumber']
    acts_miracles_df

      EventID         Category  BookNumber
0           1         Creation           1
1           2  Creation/Speech           1
2           3  Creation/Speech           1
3           4  Creation/Speech           1
4           5  Creation/Speech           1
...       ...              ...         ...
2907     2922        Provision          66
2908     2923   Transformation          66
2909     2924       Revelation          66
2910     2925          Promise          66
2911     2926       Invitation          66

[2912 rows x 3 columns]

In [4]:
    # Filter where column Q (index 16) <= 9
    acts_miracles_filtered = acts_miracles_df[acts_miracles_df.iloc[:, 2] <= 9]
    acts_miracles_filtered = acts_miracles_filtered.iloc[:, :2].copy()
acts_miracles_df = acts_miracles_filtered
acts_miracles_df

     EventID                      Category
0          1                      Creation
1          2               Creation/Speech
2          3               Creation/Speech
3          4               Creation/Speech
4          5               Creation/Speech
..       ...                           ...
673      688  Apparition/Prophecy/Judgment
674      689       Judgment/Prophecy/Death
675      690             Assurance/Promise
676      691   Recovery/Victory/Fulfilment
677      692           Fulfilment/Judgment

[678 rows x 2 columns]

In [6]:
    category_consolidation_full = pd.read_excel(
        r'..\acts_and_miracles\acts_and_miracles_preprep.xlsx', 
        sheet_name='category_consolidation',
        header=0)
    category_consolidation_full

In [8]:
category_consolidation = pd.DataFrame()

In [9]:
# Create mapping dataframe
mapping_data = {
    'Consolidated Word': [
        'Answer', 'Appearance', 'Blessing', 'Choice', 'Cosmic', 'Curse', 
        'Dream', 'Fertility', 'Food', 'Fulfillment', 'Hail', 'Intervention',
        'Judgment', 'Prayer', 'Sign', 'Test', 'Thunder', 'War', 'Water'
    ],
    'Original Words': [
        'Answer', 
        'Apparition, Appearance',
        'Blessing, Blessings',
        'Choice, Selection',
        'Cosmic, Cosmic Intervention',
        'Curse, Curses, Prophetic Curse',
        'Dream, Dreams',
        'Fertility',
        'Food, Food and Water',
        'Fulfilled Prophecy, Fulfillment, Fulfilment',
        'Hail, Hailstones',
        'Intervention, Miraculous Intervention',
        'Judge, Judgment',
        'Answered Prayer, Prayer',
        'Sign, Signal, Signs',
        'Test, Testing',
        'Thunder, Thundering',
        'Warfare',
        'Water, Food and Water'
    ]
}

mapping_df = pd.DataFrame(mapping_data)

In [10]:
# Create a copy to track changes
original_categories = acts_miracles_df['Category'].copy()

# Initialize a dictionary to track replacements
replacement_tracker = {}

In [11]:
original_categories

0                          Creation
1                   Creation/Speech
2                   Creation/Speech
3                   Creation/Speech
4                   Creation/Speech
                   ...
673    Apparition/Prophecy/Judgment
674         Judgment/Prophecy/Death
675               Assurance/Promise
676     Recovery/Victory/Fulfilment
677             Fulfilment/Judgment
Name: Category, Length: 678, dtype: object

In [12]:
# Process each mapping
for idx, row in mapping_df.iterrows():
    consolidated_word = row['Consolidated Word']
    original_words = row['Original Words']
    
    # Split the comma-delimited original words
    words_to_replace = [word.strip() for word in original_words.split(',')]
    
    # For each word to replace
    for word in words_to_replace:
        if word and word != consolidated_word:  # Only replace if different
            # Count occurrences before replacement
            count_before = acts_miracles_df['Category'].str.contains(
                word, case=False, na=False, regex=False
            ).sum()
            
            if count_before > 0:
                # Perform case-insensitive replacement
                acts_miracles_df['Category'] = acts_miracles_df['Category'].str.replace(
                    word, 
                    consolidated_word, 
                    case=False,
                    regex=False
                )
                
                # Track the replacement
                if consolidated_word not in replacement_tracker:
                    replacement_tracker[consolidated_word] = {}
                replacement_tracker[consolidated_word][word] = count_before

# Special handling for "Food and Water" - ensure proper replacement
# This handles the compound phrase that maps to both Food and Water
acts_miracles_df['Category'] = acts_miracles_df['Category'].str.replace(
    'Food and Water', 
    'Food, Water',
    case=False,
    regex=False
)

# Count actual changes made
changes_made = (original_categories != acts_miracles_df['Category']).sum()

In [13]:
acts_miracles_df

     EventID                      Category
0          1                      Creation
1          2               Creation/Speech
2          3               Creation/Speech
3          4               Creation/Speech
4          5               Creation/Speech
..       ...                           ...
673      688  Appearance/Prophecy/Judgment
674      689       Judgment/Prophecy/Death
675      690             Assurance/Promise
676      691  Recovery/Victory/Fulfillment
677      692          Fulfillment/Judgment

[678 rows x 2 columns]

In [14]:
changes_made

59

In [16]:
# Export to CSV
output_file = 'acts_miracles_consolidated.csv'
acts_miracles_df.to_csv(r'..\acts_and_miracles\acts_miracles_consolidated.csv', index=False)

print(f"Processing complete!")
print(f"Total rows processed: {len(acts_miracles_df)}")
print(f"Rows with changes: {changes_made}")
print(f"Output saved to: {output_file}")

# Print replacement summary
print("\n=== Replacement Summary ===")
for consolidated, replacements in replacement_tracker.items():
    print(f"\n'{consolidated}' replaced:")
    for original, count in replacements.items():
        print(f"  - '{original}': {count} occurrences")

Processing complete!
Total rows processed: 678
Rows with changes: 59
Output saved to: acts_miracles_consolidated.csv

=== Replacement Summary ===

'Appearance' replaced:
  - 'Apparition': 1 occurrences

'Blessing' replaced:
  - 'Blessings': 1 occurrences

'Choice' replaced:
  - 'Selection': 2 occurrences

'Cosmic' replaced:
  - 'Cosmic Intervention': 1 occurrences

'Curse' replaced:
  - 'Curses': 2 occurrences
  - 'Prophetic Curse': 1 occurrences

'Dream' replaced:
  - 'Dreams': 4 occurrences

'Food' replaced:
  - 'Food and Water': 1 occurrences

'Fulfillment' replaced:
  - 'Fulfilled Prophecy': 2 occurrences
  - 'Fulfilment': 3 occurrences

'Hail' replaced:
  - 'Hailstones': 1 occurrences

'Intervention' replaced:
  - 'Miraculous Intervention': 1 occurrences

'Judgment' replaced:
  - 'Judge': 5 occurrences

'Prayer' replaced:
  - 'Answered Prayer': 6 occurrences

'Sign' replaced:
  - 'Signal': 1 occurrences
  - 'Signs': 3 occurrences

'Test' replaced:
  - 'Testing': 3 occurrences

'Thunder' replaced:
  - 'Thundering': 1 occurrences

'War' replaced:
  - 'Warfare': 23 occurrences